.submitButton {
    background-color: rgb(162, 247, 93);
    height: 60px;
    width: 90%;
    border-radius: 25px;
    border: none;

    font-size: 1.5rem;
    font-weight: 600;
    transition: .5s;
}

.submitButton:hover {
    background-color: rgb(119, 168, 78);
}