.main {
    position: absolute;
    top: 150px;
    transform: translateX(-50%);
}

.title {
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    height: 95vh;
}

body {
    height: 100%;
    width: 100%;
    min-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}