.table {
    border-collapse: collapse;
    width: 1100px;
    max-width: 1500px;
    margin: auto;
    overflow: scroll;
}

.td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 35px;
}

[data-num] {
    width: 15%;
    padding: 0 5px;
}

[data-des] {
    width: 60%;
    padding: 0 5px;
}

[data-siz] {
    width: 10%;
    text-align: center;
}

[data-act] {
    width: 20%;
    text-align: center;
}

.thead .tr .td {
    font-weight: 600;
    font-size: 1.1rem;
}

.tabela__botoescontrole {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tabela__botoescontrole li {
    display: inline-block;
}